<div class="container">

  <mat-card>

    <form [formGroup]="groupsAddSignatoryForm" (ngSubmit)="addSignatory()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label>{{"labels.inputs.Client" | translate }}</mat-label>
            <mat-select formControlName="clientId">
              <mat-option *ngFor="let client of clientMemberData" [value]="client.id">
                {{ client.displayName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="groupsAddSignatoryForm.controls.clientId.hasError('required')">
              {{"labels.inputs.Client Member" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
            </mat-error>
          </mat-form-field>


        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{"labels.buttons.Cancel" | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!groupsAddSignatoryForm.valid"
                >{{"labels.buttons.Confirm" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
